html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href=asset("css/base.css"))
    script(src=asset("js/vendor.js"))
    script(src=asset("js/base.js"))

  body
    header
      .logo
      h1 Flamingo Carotene Example
      - var weatherWiesbaden = data('openweather.detail', {'city':'Wiesbaden'})
      .weather #{weatherWiesbaden.locationName}:
        img(src='http://openweathermap.org/img/w/${weatherWiesbaden.iconCode}.png')
        | #{weatherWiesbaden.temp} °C #{weatherWiesbaden.description}

    .content
      block content
        h1 Content Area
